Repository sibylity/voltage-schema, changes with the labels that .github/labeler.yml gives for each.
All labels: voltage-schema, voltage-autodoc, documentation, typescript, javascript, dependencies, workflow, config

.github/labeler.yml:

voltage-schema:
  - packages/voltage-schema/**/*
  - '!packages/voltage-schema/node_modules/**/*'

voltage-autodoc:
  - packages/voltage-autodoc/**/*
  - '!packages/voltage-autodoc/node_modules/**/*'

documentation:
  - '**/*.md'
  - '**/*.mdx'
  - '**/*.rst'
  - '**/*.txt'

typescript:
  - '**/*.ts'
  - '**/*.tsx'
  - '!**/*.d.ts'

javascript:
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.mjs'
  - '**/*.cjs'

dependencies:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'

workflow:
  - '.github/workflows/**/*'

config:
  - '**/.eslintrc.js'
  - '**/.prettierrc'
  - '**/.editorconfig'
  - '**/tsconfig.json'
  - '**/.npmrc'
  - '**/.gitignore'
  - '**/.npmignore'
  - '**/.gitattributes'

adds pre-generated types for testing
  tests/fixtures/sample-types.ts
Labels: voltage-schema, voltage-autodoc, typescript

Bump version of voltage-schema
  package-lock.json
  packages/voltage-schema/package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Update voltage-autodoc dependency on voltage-schema
  package-lock.json
  packages/voltage-autodoc/package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Update readmes
  packages/voltage-autodoc/README.md
  packages/voltage-schema/README.md
Labels: voltage-schema, voltage-autodoc, documentation, typescript

renames instances of TrackerEvents to AnalyticsSchema in src
  README.md
  packages/voltage-schema/README.md
  packages/voltage-schema/dist/cli/commands/generate.js
  packages/voltage-schema/dist/tracker.ts
  packages/voltage-schema/dist/types.ts
  packages/voltage-schema/src/cli/commands/generate.ts
  packages/voltage-schema/src/tracker.ts
  packages/voltage-schema/src/types.ts
Labels: voltage-schema, voltage-autodoc, documentation, typescript, javascript

Remove unused AnalyticsTracker and TrackerOptions imports in README
  README.md
Labels: voltage-schema, voltage-autodoc, documentation, typescript

Remove TrackerOptions type assertion in README
  README.md
Labels: voltage-schema, voltage-autodoc, documentation, typescript

Use type inference for tracker variable
  README.md
Labels: voltage-schema, voltage-autodoc, documentation, typescript

Remove unused AnalyticsTracker and TrackerOptions imports
  packages/voltage-schema/README.md
Labels: voltage-schema, voltage-autodoc, documentation, typescript

Use type inference for tracker variable
  packages/voltage-schema/README.md
Labels: voltage-schema, voltage-autodoc, documentation, typescript

Remove TrackerOptions type assertion
  packages/voltage-schema/README.md
Labels: voltage-schema, voltage-autodoc, documentation, typescript

1.0.1
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

voltage-schema@1.9.3
  package-lock.json
  packages/voltage-schema/package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

adds jest to voltage schema package
  package-lock.json
  packages/voltage-schema/package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

adds unit tests for valid/invalid schemas
  packages/voltage-schema/src/__tests__/fixtures/invalidSchemas.ts
  packages/voltage-schema/src/__tests__/fixtures/validSchemas.ts
  packages/voltage-schema/src/__tests__/schemaValidation.test.ts
  packages/voltage-schema/src/__tests__/validation/edgeCases.test.ts
Labels: voltage-schema, voltage-autodoc, typescript

Fix the build & fix some logging references
  README.md
  package-lock.json
  package.json
  packages/voltage-autodoc/dist/autodoc.js
  packages/voltage-autodoc/dist/autodoc.js.map
  packages/voltage-autodoc/package.json
  packages/voltage-autodoc/src/autodoc.ts
  packages/voltage-schema/README.md
  packages/voltage-schema/dist/cli/commands/init.js
  packages/voltage-schema/dist/cli/utils/analyticsConfigHelper.js
  packages/voltage-schema/dist/cli/validation/validateAnalyticsFiles.js
  packages/voltage-schema/package.json
  packages/voltage-schema/src/__tests__/schemaValidation.test.ts
  packages/voltage-schema/src/cli/commands/init.ts
  packages/voltage-schema/src/cli/utils/analyticsConfigHelper.ts
  packages/voltage-schema/src/cli/validation/validateAnalyticsFiles.ts
  packages/voltage-schema/tsconfig.json
Labels: voltage-schema, voltage-autodoc, documentation, typescript, javascript, dependencies, config

Fix one last reference when running the validate command
  packages/voltage-schema/dist/cli/validation/validateAnalyticsFiles.js
  packages/voltage-schema/src/cli/validation/validateAnalyticsFiles.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Swap out logo on the autodoc
  package-lock.json
  packages/voltage-autodoc/dist/autodoc.d.ts.map
  packages/voltage-autodoc/dist/autodoc.js
  packages/voltage-autodoc/dist/autodoc.js.map
  packages/voltage-autodoc/package.json
  packages/voltage-autodoc/src/autodoc.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript, dependencies

Fix properties display for dimension events
  package-lock.json
  packages/voltage-autodoc/dist/autodoc.d.ts.map
  packages/voltage-autodoc/dist/autodoc.js
  packages/voltage-autodoc/dist/autodoc.js.map
  packages/voltage-autodoc/src/autodoc.ts
  packages/voltage-schema/dist/cli/utils/analyticsDimensionUtils.js
  packages/voltage-schema/package.json
  packages/voltage-schema/src/cli/utils/analyticsDimensionUtils.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript, dependencies

Update root package.json version
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Fix the tooltips for config inputs
  packages/voltage-autodoc/dist/autodoc.d.ts.map
  packages/voltage-autodoc/dist/autodoc.js
  packages/voltage-autodoc/dist/autodoc.js.map
  packages/voltage-autodoc/src/autodoc.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Numerous enhancements & fixes for the autodoc
  package-lock.json
  packages/voltage-autodoc/dist/autodoc.d.ts.map
  packages/voltage-autodoc/dist/autodoc.js
  packages/voltage-autodoc/dist/autodoc.js.map
  packages/voltage-autodoc/package.json
  packages/voltage-autodoc/src/autodoc.ts
  packages/voltage-schema/dist/cli/utils/analyticsDimensionUtils.js
  packages/voltage-schema/package.json
  packages/voltage-schema/src/cli/utils/analyticsDimensionUtils.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript, dependencies

Add counts next to all of the section titles
  package-lock.json
  packages/voltage-autodoc/dist/autodoc.d.ts.map
  packages/voltage-autodoc/dist/autodoc.js
  packages/voltage-autodoc/dist/autodoc.js.map
  packages/voltage-autodoc/package.json
  packages/voltage-autodoc/src/autodoc.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript, dependencies

Re-work how dimensions are displayed
  packages/voltage-autodoc/dist/autodoc.d.ts.map
  packages/voltage-autodoc/dist/autodoc.js
  packages/voltage-autodoc/dist/autodoc.js.map
  packages/voltage-autodoc/src/autodoc.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Bug fixes for the properties page
  packages/voltage-autodoc/dist/autodoc.d.ts.map
  packages/voltage-autodoc/dist/autodoc.js
  packages/voltage-autodoc/dist/autodoc.js.map
  packages/voltage-autodoc/src/autodoc.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Add links between objects
  packages/voltage-autodoc/dist/autodoc.d.ts.map
  packages/voltage-autodoc/dist/autodoc.js
  packages/voltage-autodoc/dist/autodoc.js.map
  packages/voltage-autodoc/src/autodoc.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Alphabetize results on the autodoc
  package-lock.json
  packages/voltage-autodoc/dist/autodoc.js
  packages/voltage-autodoc/package.json
  packages/voltage-autodoc/src/<!DOCTYPE html>.css
  packages/voltage-autodoc/src/autodoc.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript, dependencies

Remove accidentally committed file
  packages/voltage-autodoc/src/<!DOCTYPE html>.css
Labels: voltage-schema, voltage-autodoc, typescript

Version 2.0.0 of voltage-schema
  package-lock.json
  packages/voltage-schema/dist/schemas/defaults/analytics.all-groups.default.json
  packages/voltage-schema/dist/schemas/defaults/analytics.events.default.json
  packages/voltage-schema/package.json
  packages/voltage-schema/src/schemas/defaults/analytics.all-groups.default.json
  packages/voltage-schema/src/schemas/defaults/analytics.events.default.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

adds chokidar dependency
  package-lock.json
  packages/voltage-schema/package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

implements watch flag
  packages/voltage-schema/src/cli/commands/generate.ts
Labels: voltage-schema, voltage-autodoc, typescript

built with new watch flag
  packages/voltage-schema/dist/cli/commands/generate.js
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Generate a deterministic voltage.lock file when running the generate command
  package-lock.json
  packages/voltage-autodoc/package.json
  packages/voltage-schema/dist/cli/commands/generate.js
  packages/voltage-schema/dist/cli/utils/lockFileGenerator.js
  packages/voltage-schema/package.json
  packages/voltage-schema/src/cli/commands/generate.ts
  packages/voltage-schema/src/cli/utils/lockFileGenerator.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript, dependencies

Add a new concat-lock command for monorepos
  packages/voltage-schema/dist/cli/commands/concat-lock.js
  packages/voltage-schema/dist/cli/index.js
  packages/voltage-schema/src/cli/commands/concat-lock.ts
  packages/voltage-schema/src/cli/index.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Update readmes with lockfile info
  README.md
  packages/voltage-schema/README.md
Labels: voltage-schema, voltage-autodoc, documentation, typescript

feat: add single-file schema configuration types and schemas
  packages/voltage-schema/src/schemas/analytics.config.schema.json
  packages/voltage-schema/src/schemas/analytics.merged.schema.json
  packages/voltage-schema/src/types.ts
Labels: voltage-schema, voltage-autodoc, typescript

feat: add --single-file flag to init command
  packages/voltage-schema/src/cli/commands/init.ts
Labels: voltage-schema, voltage-autodoc, typescript

feat: update validation to support merged schema files
  packages/voltage-schema/src/cli/validation/validateAnalyticsConfig.ts
  packages/voltage-schema/src/cli/validation/validateAnalyticsFiles.ts
Labels: voltage-schema, voltage-autodoc, typescript

feat: add merged schema file support to generate command
  packages/voltage-schema/src/cli/commands/generate.ts
  packages/voltage-schema/src/cli/utils/lockFileGenerator.ts
Labels: voltage-schema, voltage-autodoc, typescript

build: update dist files for single-file schema support
  packages/voltage-schema/dist/cli/commands/generate.js
  packages/voltage-schema/dist/cli/commands/init.js
  packages/voltage-schema/dist/cli/utils/lockFileGenerator.js
  packages/voltage-schema/dist/cli/validation/validateAnalyticsConfig.js
  packages/voltage-schema/dist/cli/validation/validateAnalyticsFiles.js
  packages/voltage-schema/dist/schemas/analytics.config.schema.json
  packages/voltage-schema/dist/schemas/analytics.merged.schema.json
  packages/voltage-schema/dist/types.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript
