Repository sibylity/voltage-schema, changes with the labels that .github/labeler.yml gives for each.
All labels: voltage-schema, voltage-autodoc, documentation, typescript, javascript, dependencies, workflow, config

.github/labeler.yml:

voltage-schema:
  - packages/voltage-schema/**/*
  - '!packages/voltage-schema/node_modules/**/*'

voltage-autodoc:
  - packages/voltage-autodoc/**/*
  - '!packages/voltage-autodoc/node_modules/**/*'

documentation:
  - '**/*.md'
  - '**/*.mdx'
  - '**/*.rst'
  - '**/*.txt'

typescript:
  - '**/*.ts'
  - '**/*.tsx'
  - '!**/*.d.ts'

javascript:
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.mjs'
  - '**/*.cjs'

dependencies:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'
  - '**/pnpm-lock.yaml'

workflow:
  - '.github/workflows/**/*'

config:
  - '**/.eslintrc.js'
  - '**/.prettierrc'
  - '**/.editorconfig'
  - '**/tsconfig.json'
  - '**/.npmrc'
  - '**/.gitignore'
  - '**/.npmignore'
  - '**/.gitattributes'

Remove commander & rimraf as dependencies
  package-lock.json
  packages/voltage-autodoc/package.json
  packages/voltage-autodoc/src/cli/commands/autodoc.ts
  packages/voltage-autodoc/src/cli/commands/dimensions.ts
  packages/voltage-autodoc/src/cli/commands/events.ts
  packages/voltage-autodoc/src/cli/commands/properties.ts
  packages/voltage-autodoc/src/cli/index.ts
  packages/voltage-schema/package.json
  packages/voltage-schema/src/cli/commands/autodoc.ts
  packages/voltage-schema/src/cli/commands/dimensions.ts
  packages/voltage-schema/src/cli/commands/events.ts
  packages/voltage-schema/src/cli/commands/generate.ts
  packages/voltage-schema/src/cli/commands/init.ts
  packages/voltage-schema/src/cli/commands/properties.ts
  packages/voltage-schema/src/cli/commands/validate.ts
  packages/voltage-schema/src/cli/index.ts
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Replace commander with native code
  dist/cli/cli.js
  dist/cli/commands/autodoc.js
  dist/cli/commands/dimensions.js
  dist/cli/commands/events.js
  dist/cli/commands/generate.js
  dist/cli/commands/init.js
  dist/cli/commands/properties.js
  dist/cli/commands/validate.js
  dist/cli/index.js
  dist/cli/types.js
  package-lock.json
  package.json
  src/cli/cli.ts
  src/cli/commands/autodoc.ts
  src/cli/commands/dimensions.ts
  src/cli/commands/events.ts
  src/cli/commands/generate.ts
  src/cli/commands/init.ts
  src/cli/commands/properties.ts
  src/cli/commands/validate.ts
  src/cli/index.ts
  src/cli/types.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript, dependencies

Remove express & opener as dependencies (for now)
  dist/cli/commands/autodoc.js
  package-lock.json
  package.json
  src/cli/commands/autodoc.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript, dependencies

Lower node version requirements
  dist/cli/commands/autodoc.js
  dist/cli/commands/dimensions.js
  dist/cli/commands/events.js
  dist/cli/commands/generate.js
  dist/cli/commands/init.js
  dist/cli/commands/properties.js
  dist/cli/commands/validate.js
  dist/cli/helpers/analyticsConfigHelper.js
  dist/cli/utils/analyticsConfigHelper.js
  dist/cli/utils/analyticsDimensionUtils.js
  dist/cli/utils/analyticsEventUtils.js
  dist/cli/utils/analyticsPropertyUtils.js
  dist/cli/utils/autodocUtils.js
  dist/cli/utils/yamlUtils.js
  dist/cli/validation/fileValidation.js
  dist/cli/validation/logging.js
  dist/cli/validation/schemaValidation.js
  dist/cli/validation/validateAnalyticsConfig.js
  dist/cli/validation/validateAnalyticsDimensions.js
  dist/cli/validation/validateAnalyticsEvents.js
  dist/cli/validation/validateAnalyticsFiles.js
  dist/cli/validation/validateAnalyticsGroups.js
  dist/cli/validation/validateAnalyticsMeta.js
  dist/tracker.js
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, javascript, dependencies

Bump minor version to 1.6
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Fix generated groups
  dist/cli/commands/generate.js
  src/cli/commands/generate.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Support async properties, & apply default values in the tracker
  dist/cli/commands/generate.js
  dist/tracker.js
  dist/tracker.ts
  src/cli/commands/generate.ts
  src/tracker.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Improve tracker onError handling for async properties
  dist/tracker.js
  dist/tracker.ts
  src/tracker.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Remove support for .volt files
  dist/cli/commands/init.js
  dist/cli/validation/fileValidation.js
  dist/schemas/defaults/voltage.config.default.json
  src/cli/commands/init.ts
  src/cli/validation/fileValidation.ts
  src/schemas/defaults/voltage.config.default.json
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Fix comment indentation for group properties
  dist/cli/commands/generate.js
  src/cli/commands/generate.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Replace JSON config with a dynamic .js config for CI flexibility
  dist/cli/commands/init.js
  dist/cli/utils/analyticsConfigHelper.js
  dist/cli/validation/validateAnalyticsConfig.js
  dist/cli/validation/validateAnalyticsFiles.js
  src/cli/commands/init.ts
  src/cli/utils/analyticsConfigHelper.ts
  src/cli/validation/validateAnalyticsConfig.ts
  src/cli/validation/validateAnalyticsFiles.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

1.7.0
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Fix groups being passed to onEventTracked
  dist/tracker.js
  dist/tracker.ts
  src/tracker.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Make sure defaultValues from meta rules are applied to all events
  dist/cli/commands/generate.js
  src/cli/commands/generate.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

1.8.0
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Make sure private meta rules are not included in event meta, and make sure meta is included with events CLI command
  dist/cli/commands/generate.js
  dist/cli/utils/analyticsConfigHelper.js
  dist/cli/utils/analyticsEventUtils.js
  src/cli/commands/generate.ts
  src/cli/utils/analyticsConfigHelper.ts
  src/cli/utils/analyticsEventUtils.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

1.8.1
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Throw errors for unexpected meta fields
  dist/cli/validation/validateAnalyticsFiles.js
  src/cli/validation/validateAnalyticsFiles.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Make sure function properties are not handled async unless they return a promise
  dist/tracker.js
  dist/tracker.ts
  src/tracker.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

1.8.2
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Fix function group properties so that they are re-evaluated each time an event gets tracked
  dist/tracker.js
  dist/tracker.ts
  src/tracker.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

1.8.3
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Fix a bug with function properties
  dist/tracker.js
  dist/tracker.ts
  src/tracker.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

1.8.4
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Fix one last bug with function properties
  dist/tracker.js
  dist/tracker.ts
  src/tracker.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

1.8.5
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Fix a race condition
  dist/tracker.js
  dist/tracker.ts
  src/tracker.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

1.8.6
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Actually write to groupProperties before running async property resolution
  dist/tracker.js
  dist/tracker.ts
  src/tracker.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

1.8.7
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Handle meta rules as optional when a defaultValue is set
  dist/cli/validation/validateAnalyticsEvents.js
  src/cli/validation/validateAnalyticsEvents.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

1.9.0
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

Update readme
  README.md
Labels: voltage-schema, voltage-autodoc, documentation, typescript

Make sure the generate command passes for meta rules that include a defaultProperty but are non-optional
  dist/cli/validation/validateAnalyticsEvents.js
  src/cli/validation/validateAnalyticsEvents.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Throw an error when a meta rule uses a defaultValue that doesnt match its type
  dist/cli/validation/validateAnalyticsMeta.js
  src/cli/validation/validateAnalyticsMeta.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

Add full typesafety to meta fields within the onEventTracked callback
  dist/cli/commands/generate.js
  dist/tracker.js
  dist/tracker.ts
  dist/types.ts
  src/cli/commands/generate.ts
  src/tracker.ts
  src/types.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

1.9.1
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies

renames TrackerEvents -> AnalyticsSchema in src
  README.md
  src/cli/commands/generate.ts
  src/tracker.ts
  src/types.ts
Labels: voltage-schema, voltage-autodoc, documentation, typescript

rebuild dist after TrackerEvents rename
  dist/cli/commands/generate.js
  dist/tracker.ts
  dist/types.ts
Labels: voltage-schema, voltage-autodoc, typescript, javascript

installs jest
  package-lock.json
  package.json
Labels: voltage-schema, voltage-autodoc, typescript, dependencies
